/**
 * Content-15
 * Slider section
 */
.content-15 {
	background: #eee;
	position: relative;
	padding: 0;
	.section-upper {
		z-index: 100;
		position: absolute;
		left: 0;
		right: 0;
		top: 90px;
	}
	.page-title,
	.section-title {
		text-align: center;
		position: relative;
		z-index: 3;
	}
	.working-slider {
		visibility: hidden;
		overflow: hidden;
		.slides {
			margin: 0;
			list-style: none;
			display: block;
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
			li {
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				padding: 0 15px;

				@include breakpoint(medium) {
					padding: 0;
				}
			}
			.working-icon {
				width: 100px;
				@include breakpoint(medium) {
					width: auto;
				}
			}
			.caption {
				text-align: center;
				p {
					font-size: rem-calc(18);
					line-height: rem-calc(28);
				}
			}
		}
	}
	.flexslider-controls {
		visibility: hidden;
		.working-control-nav {
			list-style-type: none;
			display: table;
			margin: 0 auto;
			padding-top: 15px;
			padding-bottom: 0;
			text-align: center;
			li {
				display: inline-block;
				vertical-align: middle;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				margin: 0 25px;
				opacity: 0.7;
				@include breakpoint(medium) {
					float: left;
				}
				.box {
					margin-bottom: 25px;

					@include breakpoint(medium) {
						margin-bottom: 0;
					}
					.image {
						cursor: pointer;
						display: block;
						margin: 0 auto;
						img {
							margin: 0;
						}
						&:after {
							content: " ";
							background: $primary-color;
							height: 4px;
							width: 66px;
							display: block;
							margin: 15px auto 10px;
						}
					}
					span {
						font-size: rem-calc(18);
						font-weight: bold;
						text-align: center;
						display: block;
						color: $primary-color;
						text-transform: uppercase;
					}
				}
				&.flex-active {
					opacity: 1;
					position: relative;
					.box {
						.image {
							&:after {
								content: " ";
								background: $primary-color;
								height: 4px;
								width: 66px;
								display: block;
								margin: 15px auto 10px;
							}
						}
					}
				}
			}
		}
	}
	.flex-direction-nav {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		list-style: none;
		max-width: $grid-row-width;
		margin: 0 auto;
		z-index: 1000;
		display: none;
		a {
			display: block;
			width: 40px;
			height: 54px;
			text-indent: -9999px;
			outline: none;
		}
		.flex-prev {
			float: left;
			background: url(../img/news-slider-nav-prev.png) center center no-repeat;
			position: relative;
			opacity: 0.5;
			left: 15px;
			&:hover {
				opacity: 1;
			}
		}
		.flex-next {
			float: right;
			background: url(../img/news-slider-nav-next.png) center center no-repeat;
			position: relative;
			opacity: 0.5;
			right: 15px;
			&:hover {
				opacity: 1;
			}
		}
	}
	.flex-control-nav {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10;
		margin: 0;
		text-align: center;
		height: 7px;
		@include breakpoint(medium) {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 6px;
			top: inherit;
		}
		@include breakpoint(large) {
			bottom: 0px;
		}
		li {
			display: inline-block;
			height: 8px;
			a {
				background: $black;
				display: inline-block;
				width: 7px;
				height: 7px;
				text-indent: -9999px;
				margin: 0 3px;
				opacity: 0.3;
				border-radius: 5px;
			}
			.flex-active {
				opacity: 1;
			}
		}
	}
}
