/**
 * Content-10
 * Events
 */
.content-10 {
	.preamble {
		margin-bottom: 40px;
		@include breakpoint(large) {
			margin-bottom: 50px;
		}
	}
	.column {
		@include breakpoint(large) {
			margin-bottom: 15px;
			padding-bottom: 1.875rem;			
		}
		@include breakpoint(large) {
			margin-bottom: 0;
		}
		.box {
			-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
			box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
			padding: 30px;
			margin-bottom: 15px;
			@include breakpoint(large) {
				margin-bottom: 0;
			}
			.date {
				font-size: rem-calc(30);
				font-weight: bold;
				display: block;
				margin-bottom: 20px;
			}
			.location {
				font-size: rem-calc(12);
				display: block;
				text-transform: uppercase;	
				margin-bottom: 5px;	
			}
			.event-title {
				font-size: rem-calc(19);
				font-weight: bold;
				display: block;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
			.go-to {
				font-size: rem-calc(12);
				display: block;
				text-transform: uppercase;	
				margin-bottom: 20px;	
				color: $body-font-color;
				&:hover {
					opacity: 0.8;
				}
				&:after {
	                font-family: 'FontAwesome';
	                content: "\f105";
	                font-size: rem-calc(14);
	                padding-left: 10px;
				}
			}
		}
	}
}