/**
 * Content-5
 * Small image left section
 */
.content-5 {
	.column {
		padding-bottom: 20px;
		.box {
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
			img {
				border-radius: 150px;
			}
			.title {
				font-size: rem-calc(18);
				line-height: rem-calc(24);
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: $body-font-color;
				@include breakpoint(medium) {
					margin-bottom: 15px;
				}
			}
		}
		&:nth-last-child(2) {
			padding-bottom: 20px;
			@include breakpoint(medium) {
				padding-bottom: 0;
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}