/**
 * Content-4
 * Video section
 */
.content-4 {
	-webkit-box-shadow:inset 0 10px 20px 0 rgba($black,0.2);
	box-shadow:inset 0 10px 20px 0 rgba($black,0.2);
	.page-title,
	.section-title {
		text-align: center;
	}
	.desc-title {
		font-size: rem-calc(18);
		line-height: rem-calc(24);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $body-font-color;
		@include breakpoint(medium) {
			margin-bottom: 25px;
		}
	}
	&.parallax-window {
	    background: transparent;
	}
	.extra-padding {
		padding-top: 80px;
	}
}