/**
 * Content-12
 * Wide video section
 */
.content-12 {
	-webkit-box-shadow:inset 0 10px 30px 0 rgba($black,0.4);
	box-shadow:inset 0 10px 30px 0 rgba($black,0.4);
	.page-title,
	.section-title {
		color: $white;
	}
	&.parallax-window {
	    background: transparent;
	}
	.extra-padding {
		padding-top: 120px;
	}
	.play-button {
		width: 127px;
		height: 127px;
		margin-top: 50px;
		position: relative;
	}
}