/**
 * Content-11
 * Map
 */
.content-11 {
	background: url(../img/map.png) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 0 !important;
	.page-title,
	.section-title {
		text-align: center;
	}
	.box {
		background: $white;
		-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
		padding: 30px;
		span {
			font-size: rem-calc(12);
			text-transform: uppercase;
			display: block;
		}
		p {
			font-size: rem-calc(18);
			text-transform: uppercase;
		}
		a {
			font-size: rem-calc(18);
			text-transform: uppercase;
			color: $body-font-color;
			margin-bottom: 20px;
			display: block;
		}
		.visiting-adress {
			font-size: rem-calc(15);
			text-transform: capitalize;
			margin-bottom: 0;
		}
	}
}