/**
 * Content-7
 * Product page
 */
.content-7 {
	background: #f2f2f2;
	.page-title,
	.section-title {
		text-align: center;
		margin-bottom: 40px;
	}
	img {
		margin-bottom: 30px;
		@include breakpoint(medium) {
			margin-bottom: 15px;
		}
	}
	.content {
		text-align: center;
		@include breakpoint(medium) {
			text-align: left;
		}
		.desc-title {
			font-size: rem-calc(18);
			line-height: rem-calc(24);
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $body-font-color;
			@include breakpoint(medium) {
				margin-bottom: 25px;
			}
		}
		ul {
			margin-left: 0;
			li {
			    color: $body-font-color;
			    list-style-type: none;
				&:before {
					font-family: 'FontAwesome';
					font-size: rem-calc(8);
					content: '\f111';
					color: $primary-color;
					padding-right: 14px;
					position: relative;
					top: -1px;
				}
			}
		}
	}

	table {
		@include breakpoint(medium) {
			margin: 20px 0 0;
		}
		thead {
			border-left: none;
			border-top: none;
			border-right: none;
			border-bottom: 1px solid $black;
			background: none;
			vertical-align: bottom;
			tr {
				th {
					padding: 15px 0;
					font-size: rem-calc(13);
					@include breakpoint(medium) {
						font-size: rem-calc(15);
					}
				}
			}
		}
		tbody {
			border-left: none;
			border-top: none;
			border-right: none;
			background-color: transparent;
			tr {
				&:last-child {
					border-bottom: none;
					td {
						padding-bottom: 30px;
					}
				}
				td {
					border-bottom: 1px solid #8b8b8b;
					font-size: rem-calc(12);
					@include breakpoint(medium) {
						font-size: rem-calc(15);
					}
				}
				.file {
					text-transform: uppercase;
					a {
						color: #4cb051;
					}
					&:before {
						content: url('../img/pdf.png');
						position: relative;
						margin-right: 10px;
						top: 4px;
						display: inline-block;
					}
				}
				.no-file {
					padding-left: 37px;
					text-transform: uppercase;
				}
				.type {
					border-bottom: none;
					text-transform: uppercase;
				}
				.no-type {
					border-bottom: 1px solid #8b8b8b;
				}
			}
			&:last-child {
				border-bottom: 1px solid $black;
				tr:last-child {
					td {
						border-bottom: none;
						padding-bottom: 10px;
					}
				}
			}
		}
	}
}