/**
 * Content-18
 * Product animation section
 */
.content-18 {
	background: #d3d3d3;
	padding: 0;
	@include breakpoint(large) {
		// -webkit-box-shadow:inset 0 10px 30px 0 rgba($black,0.4);
		// box-shadow:inset 0 10px 30px 0 rgba($black,0.4);
		// padding: 90px 0 0;
		background: #cacaca;
	}
	.animation-video {
	    &.ov-hid {
	    	@include breakpoint(large) {
	    		overflow: hidden;
	    	}
	    }
	    .animation-video-wrapper {
			height: 100%;
			position: relative;
			@include breakpoint(large) {
				min-height: 200px;
				overflow: hidden;
			}
			.covervid-video {
				@include breakpoint(large) {
					min-height: 100%;
					// min-width: 100%;
					width: auto;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);					
				}
			}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 50%;
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				top: 25%;
				@include breakpoint(large) {
					display: none;
				}
			}
	    }
	    .animation-video-wrapper {
	    	@include breakpoint(large) {
	    		height: 700px;
				// border: 1px solid #fff;
				// padding: 40px;
				// margin-bottom: 60px;
				// -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
				// box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	    	}
	    	.video-content {
	    		z-index: 1000;
    			position: relative;
				margin: 0 auto;
				padding: 60px 15px;
				@include breakpoint(large) {
					width: 1000px;
					padding: 60px 0;
				}
				.big-title {
					width: 100%;
					margin: 0 auto;
					@include breakpoint(large) {
						width: 600px;
					}
					h2 {
						text-align: center;
						font-size: rem-calc(24);
						line-height: rem-calc(30);
						@include breakpoint(large) {
							font-size: rem-calc(34);
							line-height: rem-calc(40);
						}
					}
				}
				.boxes {
					width: 50%;
					@include breakpoint(large) {
						width: 100%;
					}
	    			.box-1,
	    			.box-2,
	    			.box-3,
	    			.box-4 {
						@include breakpoint(large) {
		    				width: 300px;
		    				position: absolute;
						}
	    				h3 {
	    					font-size: rem-calc(16);
	    					font-weight: bold;
	    					text-transform: uppercase;
	    					letter-spacing: 1px;
	    					@include breakpoint(large) {
	    						font-size: rem-calc(18);
	    					}
	    				}
	    			}
	    			.box-1 {
						@include breakpoint(large) {
		    				top: 250px;
	    					left: 0;					
						}
	    				.divider {
	    					height: 2px;
							background: $white;
							width: 50px;
							display: block;
							position: relative;
							margin-bottom: 10px;
							@include breakpoint(large) {
								width: 458px;
							}
							@include breakpoint(large) {
								span {
									background: url(../img/ellipse.png) no-repeat;
									background-size: 10px 10px;
									height: 10px;
									width: 10px;
									display: inline-block;
									position: absolute;
									top: -4px;
									right: -9px;
								}
							}
	    				}
	    			}
	    			.box-2 {
						@include breakpoint(large) {
		    				top: 418px;
		    				left: 0;
						}
	    				.divider {
	    					height: 2px;
							background: $white;
							width: 50px;
							display: block;
							position: relative;
							margin-bottom: 10px;
							@include breakpoint(large) {
								width: 396px;
							}
							@include breakpoint(large) {
								span {
									background: url(../img/ellipse.png) no-repeat;
									background-size: 10px 10px;
									height: 10px;
									width: 10px;
									display: inline-block;
									position: absolute;
									top: -4px;
									right: -9px;
								}
							}
	    				}
	    			}
	    			.box-3 {
						@include breakpoint(large) {
		    				top: 210px;
		    				right: 0;
		    				text-align: right;
						}
	    				.divider {
	    					height: 2px;
							background: $white;
							width: 50px;
							display: block;
							position: relative;
							margin-bottom: 10px;
							@include breakpoint(large) {
								left: -100px;
								width: 440px;
							}
							@include breakpoint(large) {
								span {
									background: url(../img/ellipse.png) no-repeat;
									background-size: 10px 10px;
									height: 10px;
									width: 10px;
									display: inline-block;
									position: absolute;
									top: -4px;
									left: -9px;
								}
							}
	    				}
	    			}
	    			.box-4 {
						@include breakpoint(large) {
		    				top: 450px;
		    				right: 0;
		    				text-align: right;
						}
	    				.divider {
	    					height: 2px;
							background: $white;
							width: 50px;
							display: block;
							position: relative;
							margin-bottom: 10px;
							@include breakpoint(large) {
								left: -173px;
								width: 487px;
							}
							@include breakpoint(large) {
								span {
									background: url(../img/ellipse.png) no-repeat;
									background-size: 10px 10px;
									height: 10px;
									width: 10px;
									display: inline-block;
									position: absolute;
									top: -4px;
									left: -9px;
								}
							}
	    				}
	    			}
				}
	    	}
	    }
	}
}