/**
 * Content-1
 * Image and text section
 */
.content-1 {
	&.padding-off {
		padding-bottom: 0;
		position: relative;
	}
	@include breakpoint(small only) {
		text-align: center;
	}
	.text-title {
		font-size: rem-calc(18);
		line-height: rem-calc(24);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $body-font-color;
		@include breakpoint(medium) {
			margin-bottom: 25px;
		}
	}
	img {
		margin: 0;
		&.position-bottom {
			@include breakpoint(medium) {
				position: absolute;
				bottom: 0;
			}
		}
		@include breakpoint(medium) {
			margin: 0;
		}
	}
	.button {
		&.margin-bottom {
			@include breakpoint(medium) {
				margin-bottom: 100px;
			}
		}
	}
	.text-selection-right {
    	float: right;
	}
}