/**
 * Content-6
 * Table section
 */
.content-6 {
	.page-title,
	.section-title {
		font-weight: 400;
	}
	table {
		thead {
			border-left: none;
			border-top: none;
			border-right: none;
			border-bottom: 1px solid $black;
			background: none;
			vertical-align: bottom;
			tr {
				th {
					padding: 15px 0;
					font-size: rem-calc(13);
					@include breakpoint(medium) {
						font-size: rem-calc(15);
					}
				}
				.standard,
				.m-series,
				.fm-series {
					text-align: center;
					img {
						display: block;
						margin: auto;
						margin-bottom: 20px;
						width: 40px;
						@include breakpoint(medium) {
							width: 60px;
						}
					}
				}
			}
		}
		tbody {
			border-left: none;
			border-top: none;
			border-right: none;
			background-color: transparent;
			tr {
				// background: $white;
				border-bottom: 1px solid #8b8b8b;
				height: 80px;
				&:last-child {
					border-bottom: 1px solid $black;
				}
				&:nth-child(even) {
					background: none;
				}
				.comparison {
					padding: 15px 0;
					font-size: rem-calc(12);
					@include breakpoint(medium) {
						font-size: rem-calc(15);
					}
				}
				.standard-text,
				.m-series-text,
				.fm-series-text {
					font-weight: bold;
					font-size: rem-calc(19);
					&.green {
						color: $green;
						text-shadow: 0 1px darken($green, 40%);
						@include breakpoint(medium) {
							font-size: rem-calc(29);
							text-shadow: 0 3px darken($green, 40%);
						}
					}
					&.red {
						color: $red;
						text-shadow: 0 1px darken($red, 20%);
						@include breakpoint(medium) {
							font-size: rem-calc(29);
							text-shadow: 0 3px darken($red, 20%);
						}
					}
				}
				.standard-text,
				.m-series-text,
				.fm-series-text,
				.standard,
				.m-series,
				.fm-series {
					text-align: center;
					img {
						margin: 0;
						height: 21px;
						@include breakpoint(medium) {
							height: 31px;
						}
					}
				}
			}
		}
	}
}