/**
 * Content-13
 * Business cases section
 */
.content-13 {
	.page-title,
	.section-title {
		text-align: center;
	}
	.text-columns {
		text-align: left;
		@include breakpoint(large) {
			text-align: center;
			-moz-column-count: 2;
			-moz-column-gap: 30px;
			-webkit-column-count: 2;
			-webkit-column-gap: 30px;
			column-count: 2;
			column-gap: 30px;
		}
	}
}