/**
 * Content-16
 * Slider section
 */
.content-16 {
	.page-title,
	.section-title {
		text-align: center;
	}
	.working-slider {
		visibility: hidden;
		position: relative;
		.slides {
			margin: 0;
			list-style: none;
			display: block;
			.working-icon {
				width: 100px;
				@include breakpoint(medium) {
					width: auto;
				}
			}
			.caption {
				text-align: center;
				padding: 30px 0;
				opacity: 1;
				@include breakpoint(medium) {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					opacity: 0;
				}
				p {
					font-size: rem-calc(18);
					line-height: rem-calc(28);
					&:last-of-type {
						@include breakpoint(medium) {
							margin-bottom: 30px;
						}
					}
				}
			}
			li {
			    // background-size: cover; 
			    // background-position: center;
			    // height: 100%;
			    // width: 100%;
			    // display: none; 
			    // -webkit-backface-visibility:   hidden;
			}
		}
	}
	.flexslider-controls {
		visibility: hidden;
		.working-control-nav {
			list-style-type: none;
			display: table; 
			margin: 0 auto;
			padding-top: 15px;
			padding-bottom: 60px;
			li {
				float: left;
				vertical-align: middle;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				margin: 0 45px;
				opacity: 0.7;
				.box {
					img {
						cursor: pointer;
						display: block;
						margin: 0 auto;
					}
					span {
						font-size: rem-calc(18);
						font-weight: bold;
						text-align: center;
						display: block;
						color: $primary-color;
						text-transform: uppercase;
					}
				}
				&.flex-active {
					opacity: 1;
					position: relative;
					.box {
						.image {
							&:after {
								content: " ";
								background: $primary-color;
								height: 4px;
								width: 66px;
								display: block;
								margin: 20px auto 20px;
							}
						}
					}
				}
			}
		}
	}
	.flex-direction-nav {
		position: absolute;
		left: 0;
		right: 0;
		top: 30px;
		width: 100%;
		list-style: none;
		margin: 0 auto;
		z-index: 1000;
		display: block;
		@include breakpoint(medium) {
			top: 30%;
		}
		@include breakpoint(large) {
			top: 30%;
		}
		a {
			display: block;
			width: 40px;
			height: 54px;
			text-indent: -9999px;
			outline: none;
		}
		.flex-prev {
			float: left;
			background: url(../img/news-slider-nav-prev.png) center center no-repeat;
			position: relative;
			opacity: 0.5;
			left: 20px;
			@include breakpoint(medium) {
				left: -40px;
			}
			@include breakpoint(large) {
				left: -180px;
			}
			&:hover {
				opacity: 1;
			}
		}
		.flex-next {
			float: right;
			background: url(../img/news-slider-nav-next.png) center center no-repeat;
			position: relative;
			opacity: 0.5;
			right: 20px;
			@include breakpoint(medium) {
				right: -40px;
			}
			@include breakpoint(large) {
				right: -180px;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.flex-control-nav {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10;
		margin: 0;
		text-align: center;
		height: 7px;
		@include breakpoint(medium) {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 6px;
			top: inherit;
		}
		@include breakpoint(large) {
			bottom: 0px;
		}
		li {
			display: inline-block;
			height: 8px;
			a {
				background: $black;
				display: inline-block;
				width: 7px;
				height: 7px;
				text-indent: -9999px;
				margin: 0 3px;
				opacity: 0.3;
				border-radius: 5px;
			}
			.flex-active {
				opacity: 1;
			}
		}
	}
}