/**
 * Content-14
 * Product split section
 */
.content-14 {
	background: #d3d3d3;
	.page-title,
	.section-title {
		text-align: center;
		margin-bottom: 60px;
	}
	.split-slider {
		visibility: hidden;
		position: relative;
		border: 2px solid $white;
		float: left;
		background: url(../img/split_bg.jpg) no-repeat;
		padding: 50px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		z-index: 101;
		margin-bottom: 30px;
		width: 100%;
		@include breakpoint(medium) {
			width: 350px;
		}
		@include breakpoint(large) {
			width: 568px;
			margin-bottom: 0;
		}
		.slides {
			margin: 0;
			list-style: none;
			display: block;
			.caption {
				padding: 30px 0;
				opacity: 1;
				h3 {
					font-size: rem-calc(18);
					text-transform: uppercase;
					margin-bottom: 25px;
				}
				p {
					line-height: rem-calc(28);
				}
				h3,
				p {
					color: $white;
				}
				@include breakpoint(large) {
					position: relative;
					left: 0;
					right: 0;
					top: 0;
					z-index: 10000;
					// opacity: 0;
				}
			}
		}
	}
	.product-split {
		visibility: hidden;
		position: relative;
		float: right;
		.split-control-nav {
			list-style-type: none;
			margin: 0;
			li {
				img {
					width: 22px;
					margin: 0;
				}
				&.first {
					top: 0px;
					right: 40px;
					// &:hover,
					// &.flex-active {
					// 	top: -2px;
					// 	right: 46px;
					// }
				}
				&.second {
					top: 89px;
					right: 141px;
					// &:hover,
					// &.flex-active {
					// 	top: 81px;
					// 	right: 144px;
					// }
				}
				&.third {
					top: 146px;
					right: 181px;
					// &:hover,
					// &.flex-active {
					// 	top: 135px;
					// 	right: 182px;
					// }
				}
				&.fourth {
					top: 178px;
					right: 204px;
					// &:hover,
					// &.flex-active {
					// 	top: 173px;
					// 	right: 208px;
					// }
				}
				&.fifth {
					top: 272px;
					right: 310px;
					// &:hover,
					// &.flex-active {
					// 	top: 271px;
					// 	right: 305px;
					// }
				}
				&.first,
				&.second,
				&.third,
				&.fourth,
				&.fifth {
					cursor: pointer;
					display: inline-block;
					background: url(../img/split-plus-2.png) no-repeat;
					width: 59px;
					height: 59px;
					background-size: 59px 59px;
					background-position: center;
					position: absolute;
					/* Animation */
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: bounceIn;
					animation-name: bounceIn;
					-webkit-transition: all 100ms ease-in-out;
					-moz-transition: all 100ms ease-in-out;
					-ms-transition: all 100ms ease-in-out;
					-o-transition: all 100ms ease-in-out;
					transition: all 100ms ease-in-out;
					&:hover,
					&.flex-active {
						background: url(../img/plus-ellipse-hover.png) no-repeat;
						width: 59px;
						height: 59px;
						background-size: 59px 59px;
					}
					&.flex-active {
						@include breakpoint(large) {
							span {
								border-bottom: 2px solid #fff;
								width: 320px;
								position: absolute;
								left: -320px;
								top: 30px;
								z-index: 20;
							}
						}
					}
					span {
						position: absolute;
						text-decoration: none;
						display: block;
						border-bottom: 2px solid white;
						width: 0px;
						left: -320px;
						top: 30px;
						transition: 0.5s ease;
						white-space: nowrap;
						height: 2px;
					}
				}
			}
		}
	}
}