/**
 * Content-2
 * Two columns section
 */
.content-2 {
	&.parallax-window {
	    background: transparent;
		-webkit-box-shadow:inset 0 10px 30px 0 rgba($black,0.4);
		box-shadow:inset 0 10px 30px 0 rgba($black,0.4);
                padding: 95px !important;
	}
	.extra-padding {
		padding-top: 120px;
	}
}