/**
 * Content-9
 * News slider
 */
.content-9 {
	background: #f2f2f2;
	.page-title,
	.section-title {
		text-align: center;
	}
	.news-slider {
		.slides {
			li {
				z-index: 1001;
				.content {
					padding: 0 80px;
					.image,
					.video,
					.neutral {
						.category {
							display: inline-block;
							font-size: rem-calc(10);
							text-transform: uppercase;
							margin: 0;
							@include breakpoint(medium) {
								font-size: rem-calc(12);
								line-height: rem-calc(28);
							}
						}
						.news-title {
							font-size: rem-calc(18);
							line-height: rem-calc(24);
							font-weight: bold;
							text-transform: uppercase;
							letter-spacing: 1px;
							color: $body-font-color;
							@include breakpoint(medium) {
								margin-bottom: 25px;
							}
						}
					}
					.neutral {
						@include breakpoint(large) {
							margin: 45px 0;
						}
					}
				}
			}
		}
		.flex-direction-nav {
			position: absolute;
			left: 0;
			right: 0;
			top: 35%;
			width: 100%;
			list-style: none;
			margin: 0 auto;
			z-index: 1000;
			// display: none;
			@include breakpoint(medium) {
				display: block;
			}
			a {
				display: block;
				width: 39px;
				height: 78px;
				text-indent: -9999px;
				outline: none;
			}
			.flex-prev {
				float: left;
				background: url(../img/news-slider-nav-prev.png) center center no-repeat;
				position: relative;
				opacity: 1;
				left: 15px;
				@include breakpoint(large) {
					left: -50px;
				}
				&:hover {
					opacity: 0.5;
				}
			}
			.flex-next {
				float: right;
				background: url(../img/news-slider-nav-next.png) center center no-repeat;
				position: relative;
				opacity: 1;
				right: 15px;
				@include breakpoint(large) {
					right: -50px;
				}
				&:hover {
					opacity: 0.5;
				}
			}
		}
		.flex-control-nav {
			margin-top: 20px;
			position: static;
			height: 8px;
			li {
				a {
					background: $white;
				}
			}
		}
	}
}