/**
 * Error 404 page
 */
.error {
	padding-top: 200px !important;
	.page-title {
		span {
			display: block;
			color: $light-gray;
			line-height: 200px;
			font: {
				family: $body-font-family-serif;
				size: rem-calc(160);
				weight: 300;
				style: italic;
			}
			margin-bottom: 20px;
		}
	}
}
