.button {
	font-size: rem-calc(15);
	font-weight: bold;
	background: none;
	border: 3px solid $primary-color;
	color: $primary-color;
	text-transform: uppercase;
	padding: 15px 25px;
	display: inline-block;
	border-radius: 0;
	letter-spacing: 2px;
	margin: 15px 0 35px;
	span {
		font-weight: 400;
	}
	@include breakpoint(medium) {
		font-size: rem-calc(15);
		font-weight: bold;
		background: none;
		border: 3px solid $primary-color;
		padding: 20px 35px;
		margin: 15px 0 15px;
	}
	&:hover,
	&:focus {
		background: $primary-color;
		// border: 3px solid scale-color($primary-color, $lightness: -20%);
		color: $white;
	}
	&.white {
		background: $white;
		color: $body-font-color;
		display: inline-block;
		&:hover {
			color: $body-font-color;
			background: scale-color($white, $lightness: -20%);
		}
	}
	&.black {
		background: $black;
		color: $white;
		display: inline-block;
		&:hover {
			color: $white;
			background: scale-color($black, $lightness: -20%);
		}
	}
}
