/**
 * Comments
 */
.comments-area {
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid $light-gray;
	.commenttitle {
		display: inline-block;
  		width: 100%;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $light-gray;
		h2 {
			float: left;
		}
		a {
			float: right;
			margin-bottom: 0;
		}
	}
	.form-allowed-tags {
		padding-bottom: 20px;
	}
	.comment-list {
		list-style-type: none;
		margin-left: 0;
		background: $light-gray;
		padding: 15px;
		@include breakpoint(medium) {
			padding: 30px;
		}
		.comment {
			border-bottom: 1px solid $light-gray;
			margin-bottom: 20px;
			&:last-child {
				border-bottom: none;
				margin-bottom: 0;
			}
			.comment-body {
				display: block;
				.comment-author {
					border: 0;
					padding: 0;
					width: 100%;
					margin-bottom: 10px;
					img {
						border-radius: 75px;
						float: left;
						margin: 0 15px 0 0;
						border: 2px solid $white;
						-webkit-box-shadow: 0 0 8px 1px rgba($black,0.2);
						box-shadow: 0 0 8px 1px rgba($black,0.2);
					}
				}
				.reply {
					a {
						@extend .button;
						border-radius: $global-radius;
						padding: 7px 10px;
						font-size: rem-calc(14);
					}
				}
			}
			.children {
				list-style-type: none;
				border: 2px solid $white;
				padding: 15px;
				margin-bottom: 20px;
				-webkit-box-shadow: 0 0 8px 1px rgba($black,0.1);
				box-shadow: 0 0 8px 1px rgba($black,0.1);
			}
		}
	}
	.comments-title {
		font-size: rem-calc(18);
		margin-top: 12px;
		@include breakpoint(medium) {
			margin-top: 4px;
			font-size: rem-calc(27);
		}
	}
}
.comment-respond {
	padding-top: 20px;
	border-top: 1px solid $light-gray;
	.comment-form {
		.form-allowed-tags {
			padding-bottom: 0;
		}
	}
}

/**
 * Comment pagination
 */
.comment-navigation {
    margin-bottom: 20px;
    .page-numbers {
        font-size: rem-calc(15);
        background: none;
        padding: 2px 9px;
        margin: 0 2px;
        color: map-get($foundation-palette, aluminum);
        -webkit-border-radius: $global-radius;
        border-radius: $global-radius;
        &.current {
            background: $primary-color;
            color: $white;
            cursor: default;
            font-weight: bold;
            &:hover {
                background: $primary-color;
                color: $white;
            }
        }
        &:hover {
            background: $light-gray;
            color: $dark-gray;
        }
    }
    .prev,
    .next {
        font-weight: bold;
        background: none;
        color: $primary-color;
        &:hover {
            color: scale-color($primary-color, $lightness: -20%);
            background: none;
        }
    }
}
