input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
    background: $white;
    max-width: 100%;
    max-height: 180px;
    font-size: rem-calc(14);
    line-height: rem-calc(22);
    font-weight: 400;
    padding: rem-calc(8);
    border: 1px solid #e6e6e6;
    box-shadow: none;
    color: $dark-gray;
    // @include appearance(none);
    @include border-top-radius(0);
    @include border-right-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius(0);
    @include placeholder {
        font-family: $body-font-family;
        font-size: rem-calc(14);
        color: #999;
    }
    &:focus {
        background: #fafafa;
        border-color: map-get($foundation-palette, iron);
        outline: none;
        box-shadow: none;
        @include transition(all 0.25s ease-in-out);
    }
}

input[type="submit"] {
    @extend .button;
    margin-bottom: 0;
    -webkit-border-radius: $global-radius;
    border-radius: $global-radius;

    &:focus,
    &:active {
        outline: none;
    }
}

// input[type="checkbox"],
// input[type="radio"] {
//     height: auto;
//     padding: 0;
//     margin: 0;
// }

// input[type="checkbox"] {
//     @include appearance(checkbox);
// }
// input[type="radio"] {
//     @include appearance(radio);
// }

// select {
//     outline: none;
// }

.input-container {
    clear: both;

    .half {
        width: 48%;
    }
}

/**
 * Contact form
 */
.wpcf7 {
    .wpcf7-form {
        padding-bottom: 2em;
        br {
            display: none;
        }
        p {
            font-size: rem-calc(12);
            font-weight: bold;
        }
        .wpcf7-response-output {
            clear: both;
            padding: 0;
            padding-top: 1em;
            margin: 0;
            border: none;
        }
        .ajax-loader,
        .wpcf7-not-valid-tip,
        .wpcf7-validation-errors {
            display: none;
        }
        .wpcf7-validates-as-required {
            margin-bottom: 10px;
        }
        .wpcf7-not-valid {
            background: scale-color($alert-color, $lightness: 70%);
        }
        .wpcf7-response-output {
            &.wpcf7-mail-sent-ok {
                &:before {
                    font-family: 'FontAwesome';
                    content: "\f00c";
                    font-size: rem-calc(19);
                    padding-right: 10px;
                    color: #22c38a;
                }
            }
            &.wpcf7-validation-errors {
                &:before {
                    font-family: 'FontAwesome';
                    content: "\f00d";
                    font-size: rem-calc(19);
                    padding-right: 10px;
                    color: $alert-color;
                }
            }
        }
    }
}

/**
 * Offcanvas search form
 */
.aside-search {
    padding: 20px;
    float: left;
    width: 250px;
    input[type="text"] {
        margin-bottom: 0;
        font-size: rem-calc(14);
        border: none;
        background: $light-gray;
        width: 80%;
        float: left;
    }
    .submit {
        height: 37px;
        width: 20%;
        float: left;
        margin: 0;
        outline: 0;
        padding: 0;
        font-size: rem-calc(12);
        background: scale-color($primary-color, $lightness: -20%);
        &:hover {
            background: scale-color($primary-color, $lightness: -30%);
        }
    }
}

/**
 * Subscribe form
 */
.subscribe {
    margin-top: 12px;
    input[type=email] {
        background-color: $white;
        padding: 10px;
        height: auto;
        float: left;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
        color: #303030;
        font-style: italic;
        font-size: rem-calc(13);
        font-weight: bold;
        text-align: center;
        @include breakpoint(medium) {
            text-align: left;
        }
    }
    input[type=submit] {
        font-size: rem-calc(14);
        font-weight: bold;
        padding: 10px 25px;
        background: $white;
        color: $body-font-color;
        display: inline-block;
        -webkit-border-radius: $global-radius;
        border-radius: $global-radius;
        &:hover {
            color: $body-font-color;
            background: scale-color($white, $lightness: -20%);
        }
    }
    input::-webkit-input-placeholder {
        color: #303030;
        font-style: italic;
        font-size: rem-calc(13);
        font-weight: bold;
        text-align: center;
        @include breakpoint(medium) {
            text-align: left;
        }
    }
}
