html, body {
	min-height: 100%;
	background: #d4d4d4;
}

body, input, textarea {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

a {
	@include transition(all .125s ease-in-out);

	&:focus,
	&:active,
	&:hover {
		color: scale-color($primary-color, $lightness: -30%);
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: 1em;
}

embed,
iframe,
object {
	max-width: 100%;
}

p {
	font-size: rem-calc(13);
	@include breakpoint(medium) {
		font-size: rem-calc(15);
	}
}
