/**
 * Wrapper
 */
.wrapper {
	// max-width: 1680px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 10px 1px rgba($black,0.2);
	box-shadow: 0 0 10px 1px rgba($black,0.2);
}

.top-section {
	padding: 90px 0 30px;
	border-bottom: 1px solid $light-gray;
	background: $white;
	@include breakpoint(medium) {
		padding: 120px 0 70px;
	}
	@include breakpoint(large) {
		padding: 200px 0 90px;
	}
	.section-introduction {
		padding-bottom: 15px;
		text-align: center;
	}
	.pre-title {
		font-size: rem-calc(10);
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0;
		@include breakpoint(medium) {
			font-size: rem-calc(12);
			line-height: rem-calc(28);
		}
	}
	.page-title,
	.section-title {
		font-size: rem-calc(24);
		font-weight: 700;
		color: $primary-color;
		text-transform: uppercase;
		margin-bottom: 20px;
		text-align: center;
		span {
			font-weight: 400;
		}
		@include breakpoint(medium) {
			font-size: rem-calc(42);
			line-height: rem-calc(52);
			margin-bottom: 30px;
		}
	}
	&.white {
		background: $white;
	}
	&.gray {
		background: #f2f2f2;
	}
	figure {
		margin: 0;
	}
}

.hash-container {
    position: relative;
	.sub-navigation {
	    background: $primary-color;
	    text-align: center;
	    display: none;
	    left: 0;
	    right: 0;
	    z-index: 100;
	    &.attached {
	        position: fixed;
	    }
	    ul {
	        margin: 0;
	        display: inline-block;
	        list-style-type: none;
	        padding-bottom: 2px;
	        li {
	            position: relative;
	            float: left;
	            margin-left: 40px;
	            a {
	            	color: $white;
	                font-size: rem-calc(12);
	                font-weight: 400;
	                letter-spacing: 1px;
	                &:after {
	                	content: ' ';
	                	background: url(../img/down_arrow.png) no-repeat;
	                	background-size: 14px 7px;
	                	width: 14px;
	                	height: 7px;
						position: relative;
						top: 0px;
						display: block;
						margin: 0 auto;
	                }
	            }
	        }
	        li:first-child {
	            margin-left: 0;
	        }
	    }
	    @include breakpoint(medium) {
	        display: block;
	    }
	}
}

/**
 *
 */
.head-cover {
	background: url(../img/top_image.jpg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    &.ov-hid {
    	overflow: hidden;
    }
    .covervid-wrapper {
		height: 100%;
		min-height: 200px;
		overflow: hidden;
		position: relative;
		.covervid-video {
			min-height: 100%;
			min-width: 100%;
			width: auto;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
    }
    .covervid-wrapper {
    	height: auto;
    	@include breakpoint(large) {
    		height: 890px;
    	}
    }
    .video-content {
    	text-align: center;
		&.w-100 {
			width: 100%;
		}
		&.h-100 {
		    height: 100%;
		}
		&.top-0 {
		    top: 0;
		}
		&.lft-0 {
		    left: 0;
		}
		&.pos-a {
		    position: absolute;
		}
		.inner-table {
			width: 100%;
			height: 100%;
			z-index: 1000;
			position: relative;
			@include breakpoint(large) {
				padding-top: 300px;
			}
			.inner-cell {
				padding: 100px 0 40px;
				@include breakpoint(large) {
					padding: 0;
				}
				.first-row,
				.middle-row,
				.bottom-row {
					font-size: rem-calc(22);
					line-height: rem-calc(22);
					text-transform: uppercase;
					color: $primary-color;
					@include breakpoint(large) {
						font-size: rem-calc(42);
						line-height: rem-calc(42);
					}
					&::after {
						content: " ";
						border: solid 1px $primary-color;
						display: block;
						width: 120px;
						margin: 10px auto;
						@include breakpoint(large) {
							border: solid 1px $primary-color;
							margin: 15px auto;
						}
					}
				}
				.bottom-row {
					margin-bottom: 20px;
					@include breakpoint(large) {
						margin-bottom: 100px;
					}
				}
				.first {
					margin-right: 0;
					@include breakpoint(large) {
						margin-right: 30px;
					}
				}
				.button {
					padding: 18px 15px;
					@include breakpoint(large) {
						padding: 18px 30px;
					}
				}
			}
		}
    }
}

/**
 * Header
 */
.site-header {
	position: absolute;
	width: 100%;
	z-index: 101;
	padding-bottom: 20px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	@include breakpoint(large) {
		position: fixed;
		margin: 0 auto;
	}
	.logotype {
		.site-name {
			display: block;
			margin-left: auto;
			margin-right: auto;
			line-height: 65px;
			@include breakpoint(medium) {
				line-height: 80px;
			}
			img {
				display: block;
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
	}
	&.faded {
		background: rgba($white,0.9);
		border-bottom: 2px solid $primary-color;
	}
	.wrapp {
		position: relative;
	    .search-icon {
	        a.toggled {
	            color: $black;
	        }
	    }
	    .searchform {
	        display: none;
	        position: absolute;
	        top: 80px;
	        width: 250px;
	        z-index: 10;
	        right: 0;
	        padding: 15px;
	        background: $white;
	        border-top: 3px solid $primary-color;
	        -webkit-box-shadow: 0 1px 1px 1px rgba($black,0.1);
	        box-shadow: 0 1px 1px 1px rgba($black,0.1);
	        input[type="text"] {
	            margin-bottom: 0;
	            font-size: rem-calc(14);
	            border: none;
	            background: $light-gray;
	            height: 30px;
	        }
	        &.toggled {
	            display: block;
	        }
	    }
	}
}

/**
 * Main
 */
.site-main {
	// background: $white;
	// padding: 66px 0 0;
	z-index: 100;
	position: relative;
	@include breakpoint(medium) {
		// padding: 106px 0 0;
	}
	hr {
		height: 1px;
		background: $light-gray;
		margin: 30px 0 30px;
		border: 0;
	}
	.section:last-child {
		border-bottom: 2px solid $primary-color;
	}
}

.section {
	padding: 30px 0;
	border-bottom: 1px solid $light-gray;
	background: $white;
	@include breakpoint(medium) {
		padding: 90px 0;
	}
	@include breakpoint(large) {
		padding: 120px 0;
	}
	.section-introduction {
		padding-bottom: 15px;
		text-align: center;
	}
	.pre-title {
		font-size: rem-calc(10);
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0;
		@include breakpoint(medium) {
			font-size: rem-calc(12);
			line-height: rem-calc(28);
		}
	}
	.page-title,
	.section-title {
		font-size: rem-calc(24);
		font-weight: 700;
		color: $primary-color;
		text-transform: uppercase;
		margin-bottom: 20px;
		span {
			font-weight: 400;
		}
		@include breakpoint(medium) {
			font-size: rem-calc(42);
			line-height: rem-calc(52);
			margin-bottom: 30px;
		}
	}
	&.white {
		background: $white;
	}
	&.gray {
		background: #f2f2f2;
	}
	figure {
		margin: 0;
	}
}

.preamble {
	font-size: rem-calc(17);
	line-height: rem-calc(20);
	font-style: italic;
	margin-bottom: 20px;
	@include breakpoint(medium) {
		font-size: rem-calc(18);
		line-height: rem-calc(26);
		margin-bottom: 30px;
	}
}

.read-more {
	font-size: rem-calc(15);
	font-weight: 700;
	color: $body-font-color;
	&:hover {
		color: darken($body-font-color, 30%)
	}
}

.reveal {
	.flex-video {
		margin-bottom: 0;
	}
}

/**
 * Footer
 */
.site-footer {
	text-align: center;
	z-index: 99;
	@include breakpoint(medium) {
		text-align: left;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}
	a {
		color: $white;
	}
	a:hover {
		color: darken($white, 30%)
	}
	.footer-top {
		background: #ededed; /* Old browsers */
		background: -moz-linear-gradient(top,  #ededed 0%, #dadbdc 0%, #f6f6f6 29%, #f7f8fa 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ededed 0%,#dadbdc 0%,#f6f6f6 29%,#f7f8fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ededed 0%,#dadbdc 0%,#f6f6f6 29%,#f7f8fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f7f8fa',GradientType=0 ); /* IE6-9 */
		padding: 20px 0;
		border-bottom: 1px solid $white;
		@include breakpoint(medium) {
			padding: 90px 0;
		}
		.footer-logo {
			max-width: 223px;
			display: block;
			margin: auto;
			img {
				margin-bottom: 0;
			}
		}
		.box-1,
		.box-2,
		.box-3 {
			text-align: center;
			.box-title {
				color: $body-font-color;
				font-weight: bold;
				font-size: rem-calc(28);
				text-transform: uppercase;
			}
		}
		.box-1 {
			border-bottom: 1px solid #ddd;
			margin-bottom: 16px;
			@include breakpoint(medium) {
				border-bottom: none;
			}
		}
		.box-2 {
			border-bottom: 1px solid #ddd;
			margin-bottom: 16px;
			@include breakpoint(medium) {
				border-bottom: none;
			}
			.footer-menu {
				margin: 0 0 15px 0;
				list-style-type: none;
				li {
					a {
						font-size: rem-calc(12);
						font-weight: bold;
						color: $body-font-color;
						text-transform: uppercase;
					}
					ul.sub-menu {
						display: none;
					}
				}
			}
		}
		.box-3 {
			// border-bottom: 1px solid #2D2D2D;
			margin-bottom: 16px;
			@include breakpoint(medium) {
				border-bottom: none;
			}
		}
		.social {
			margin: 20px 0;
			@include breakpoint(medium) {
				margin: 40px 0;
			}
			.phone,
			.email,
			.facebook {
				text-align: center;
				padding: 7px 0px;
				a {
					font-size: rem-calc(16);
					font-weight: bold;
					color: $black;
					padding-left: 38px;
					position: relative;
					@include breakpoint(large) {
						font-size: rem-calc(20);
					}
				}
			}
			.phone {
				a::before {
					content: "";
					background-image: url(../img/telefon.png);
					position: absolute;
					top: -3px;
					left: -6px;
					height: 28px;
					width: 28px;
					background-size: 28px;
					@include breakpoint(large) {
						top: -5px;
						height: 38px;
						width: 38px;
						background-size: 38px;
					}
				}
			}
			.email {
				a::before {
					content: "";
					background-image: url(../img/mail.png);
					position: absolute;
					top: -3px;
					left: -17px;
					height: 28px;
					width: 28px;
					background-size: 28px;
					@include breakpoint(large) {
						top: -5px;
						height: 38px;
						width: 38px;
						background-size: 38px;
					}
				}
			}
			.facebook {
				a::before {
					content: "";
					background-image: url(../img/facebook.png);
					position: absolute;
					top: -3px;
					left: -17px;
					height: 28px;
					width: 28px;
					background-size: 28px;
					@include breakpoint(large) {
						top: -5px;
						height: 38px;
						width: 38px;
						background-size: 38px;
					}
				}
			}
		}
		.columns:last-child {
			@include breakpoint(small only) {
				float: none;
			}
		}
	}
	.footer-bottom {
		padding: 10px 0;
		background: #F7F8FA;
		.copyright,
		.creator-page {
			font-size: rem-calc(12);
			color: rgba($black, 0.6);
			margin: 0;
		}
		.copyright {
			text-align: center;
			padding: 5px 0;
			@include breakpoint(medium) {
				text-align: left;
			}
		}
		.creator-page {
			text-align: center;
			padding: 5px 0;
			@include breakpoint(medium) {
				float: right;
			}
		}
	}
}

.scroll-top {
	position: relative;
	z-index: 200;
	&:active {
		right: 20px;
		bottom: 8px;
	}
	img {
		margin: 0;
		width: 33px;
		height: 33px;
		position: fixed;
		right: 20px;
		bottom: 8px;
	}
}

/**
 * Cookie Agreement
 */
.cookie-bar {
	display: none;
	background: rgba($white,0.9);
	border-top: 1px solid rgba($black,0.3);
	z-index: 1000;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 11px 0;
	@include breakpoint(medium) {
		text-align: left;
	}
	p {
		color: $black;
		@include breakpoint(medium) {
			margin: 0;
		}
		@include breakpoint(large) {
			margin: 15px 0;
			float: left;
		}
	}
	i {
		margin-right: 10px;
	}
	.button {
		margin: 0;
		font-size: rem-calc(14);
		padding: 15px 20px;
		@include breakpoint(medium) {
			float: right;
		}
	}
	a {
		font-weight: bold;
	}
	&.cookie-not-agreed {
		display: block;
	}
}
