/**
 * Main navigation
 */
.site-navigation {
    text-align: center;
    ul {
        margin: 0;
        list-style-type: none;
        li {
            position: relative;
            margin-right: 20px;
            float: left;
            &:last-child {
                margin-right: 0;
            }
            &.has-dropdown {
               margin-right: 15px;
            }
            &.active > a {
                background: none;
            }
            a {
                font-family: $body-font-family;
                font-size: rem-calc(12);
                font-weight: bold;
                display: inline-block;
                // line-height: 80px;
                color: $primary-color;
                padding: 0;
                text-transform: uppercase;
                &:active {
                    top: 0;
                }
            }
            &.active:after {
                display: none;
            }
            &.active {
                // .sub-menu {
                //     display: block;
                // }
                &:after {
                    content: '';
                    background: $primary-color;
                    // background: url(../img/menu-afterlu.png) no-repeat;
                    // background-size: 22px 5px;
                    width: 100%;
                    height: 2px;
                    position: relative;
                    top: 0;
                    display: block;
                    margin: 0 auto;
                }
            }
            &.current-menu-ancestor > a,
            &.current-menu-item > a,
            &.current_page_parent > a {
                color: $primary-color;
            }
            &:hover > ul {
                display: inline;
                z-index: 20;
            }
            &.special {
                border: 2px solid $primary-color;
                display: inline-block;
                margin-right: 3px;
                &.current-menu-item {
                    background: $primary-color;
                    &:after {
                        display: none;
                    }
                }
                &.current-menu-item > a {
                    color: $white;
                    &:after {
                        display: none;
                    }
                }
                &:hover {
                    background: $primary-color;
                    &:after {
                        display: none;
                    }
                }
                & a:hover {
                    color: $white;
                    &:after {
                        display: none;
                    }
                }
                a {
                    padding: 10px 24px;
                }
                &:after {
                    display: none;
                }
            }
            &:nth-child(2) {
                margin-right: 35px;
            }

            &.innovation {
                ul {
                    left: -94px;
                }
            }
            &.applications {
                ul {
                    left: -199px;
                }
            }
            &.awards {
                ul {
                    left: -298px;
                }
            }
            &.meet-us {
                ul {
                    left: -374px;
                }
            }
        }
    }

    ul.sub-menu {
        position: absolute;
        left: 0;
        list-style: none;
        margin: 0;
        display: none;
        top: 25px;
        width: 434px;
        height: 45px;
        z-index: 100;
        border-top: 2px solid $primary-color;
        li {
            position: relative;
            margin: 0;
            margin-right: 15px;
            // min-width: 180px;
            a {
                font-size: rem-calc(11);
                font-weight: bold;
                line-height: 20px;
                display: block;
                // padding: 10px;
                color: $primary-color;
                // text-shadow: 0 0 5px #C4C4C4;
                text-transform: capitalize;
            }
            &:hover {
                &:after {
                    content: '';
                    display: none;
                }
            }
            &:last-child {
                border-bottom: 0;
                margin-right: 0;
            }
            &.active {
                // .sub-menu {
                //     display: block;
                // }
                &:after {
                    content: '';
                    display: none;
                }
            }
        }
    }

    ul.sub-menu ul.sub-menu {
        position: absolute;
        left: 180px;
        top: -3px;
    }
}

/**
 * Offcanvas navigation
 */
.right-off-canvas-toggle {
    position: absolute;
    z-index: 100;
    right: 8px;
    top: 10px;
    font-size: rem-calc(30);
    @include breakpoint(medium) {
        right: 8px;
        top: 16px;
    }
    &:hover,
    &:active {
        position: absolute;
        right: 8px;
        top: 10px;
        @include breakpoint(medium) {
            right: 8px;
            top: 16px;
        }
    }
}

.off-canvas {
    height: 100%;
    .off-canvas-list li a:hover {
        background: none;
    }
    label {
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 20px;
        cursor: default;
        background: scale-color($primary-color, $lightness: -20%);
    }
    ul {
        margin: 0;
        list-style: none;
        li {
            position: relative;
            a {
                display: block;
                color: rgba($white, .7);
                padding: 10px 20px;
                border-bottom: 1px solid scale-color($offcanvas-background, $lightness: -25%);
                outline: none;
            }
            // &.menu-item-type-custom > a:after {
            //     font-family: 'FontAwesome';
            //     color: rgba($white, 0.5);
            //     content: "\f08e";
            //     float: right;
            //     right: -6px;
            //     top: 2px;
            //     position: relative;
            //     font-size: rem-calc(14);
            // }
        }
    }
    ul.sub-menu {
        background: scale-color($primary-color, $lightness: -20%);
        display: none;
        li {
            a {
                padding-left: 30px;
                border-color: scale-color($primary-color, $lightness: -50%);
            }
            &.menu-item-type-custom > a:after {
                font-family: 'FontAwesome';
                color: rgba($white, 0.5);
                float: right;
                content: "\f08e";
                right: -6px;
                top: 2px;
                position: relative;
                font-size: rem-calc(14);
            }
        }
    }
    ul.sub-menu ul.sub-menu {
        li {
            a {
                padding-left: 40px;
                background: scale-color($primary-color, $lightness: -30%);
            }
        }
    }
    .expand {
        display: none;
        // color: rgba($white, 0.5);
        // position: absolute;
        // padding: 10px 16px;
        // right: 0;
        // top: 0;
        // @include transition(all 50ms linear);
        // &.open  {
        //     -ms-transform: rotate(90deg);
        //     -webkit-transform: rotate(90deg);
        //     transform: rotate(90deg);
        // }
    }
}

.js-off-canvas-exit {
    z-index: 1000;
}

/**
 * Post pagination
 */
.pagination {
    a {
        color: $dark-gray;
        &:hover {
            color: $black;
        }
    }
    i {
        position: relative;
        top: 2px;
        font: {
            size: rem-calc(26);
            style: normal;
            weight: 400;
        }
    }
}

.post-navigation {
    clear: both;
    .left, .right {
        a {
            color: $dark-gray;
            line-height: 1;

            &:hover {
                color: $black;
            }
        }
        i {
            font: {
                size: rem-calc(26);
                style: normal;
                weight: 400;
            }
            position: relative;
            top: 2px;
        }
    }
    .right {
        text-align: right;
    }
}
