/**
 * Post section
 */
.news {
	text-align: left;
	article {
		margin: 30px 0;
		border-bottom: 1px solid $light-gray;
	}
	article:first-child {
		margin-top: 0;
	}
	h2,
	h3 {
		font-size: rem-calc(28);
	}
	.post-date {
		float: left;
		margin: 0 30px 0 0;
		span {
			display: block;
		}
		.day {
			background: $primary-color;
			color: #fff;
			line-height: rem-calc(60);
			padding: 0 10px;
			margin-bottom: 3px;
			font: {
				size: rem-calc(36);
				weight: 300;
			}
		}
		.month {
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		.year {
			color: darken($white, 60%);
			letter-spacing: 1px;
			font-size: rem-calc(14);
		}
	}
	.whole-post {
		h1 {
			font-size: rem-calc(22);
			@include breakpoint(medium) {
				font-size: rem-calc(28);
			}
		}
		.meta-info {
			margin: 0 0 10px 0;
			list-style-type: none;
			display: inline-block;
			li {
				@include breakpoint(large) {
					float: left;
				}
			}
			.time,
			.comments,
			.categories {
				font-weight: bold;
				margin-right: 15px;
			}
			.categories {
				a {
					font-weight: bold;
				}
				i {
					margin-right: 5px;
				}
			}
			.tags {
				a {
					font-weight: bold;
				}
				i {
					margin-right: 5px;
				}
			}
		}
	}
	.excerpt-post {
		padding-bottom: 30px;
		padding-left: 84px;
		h2 {
			font-size: rem-calc(22);
			@include breakpoint(medium) {
				font-size: rem-calc(28);
			}
		}
		p {
			margin-bottom: 5px;
		}
		.meta-info {
			margin: 0 0 10px 0;
			list-style-type: none;
			display: inline-block;
			li {
				@include breakpoint(large) {
					float: left;
				}
			}
			.time,
			.comments,
			.categories {
				font-weight: bold;
				margin-right: 15px;
			}
			.categories {
				a {
					font-weight: bold;
				}
				i {
					margin-right: 5px;
				}
			}
			.tags {
				a {
					font-weight: bold;
				}
				i {
					margin-right: 5px;
				}
			}
		}
	}
	.sidebar-archive,
	.sidebar-categories {
		list-style-type: none;
		margin-left: 0;
		li {
			text-transform: capitalize;
		}
	}
}

/**
 * Events section
 */
.single-event,
.archive-events {
	@include breakpoint(large) {
		padding-top: 200px;
	}
	article {
		border-bottom: 1px solid #eee;
		margin: 30px 0;
		.meta-info {
			margin-bottom: 10px;
			.date {
				font-weight: 700;
				margin-right: 15px;
				display: block;
				float: left;
			}
			.location {
				font-weight: 700;
				display: block;
			}
		}
		.event-title {
			font-size: rem-calc(28);
		}
	}
}

.archive-events {
	article {
    	padding-bottom: 30px;
		.go-to {
			font-size: rem-calc(12);
			display: block;
			text-transform: uppercase;
			margin-bottom: 0;
			color: $body-font-color;
			&:hover {
				opacity: 0.8;
			}
			&:after {
                font-family: 'FontAwesome';
                content: "\f105";
                font-size: rem-calc(14);
                padding-left: 10px;
			}
		}
	}
}
