.search-top {
    border-bottom: 1px solid #e6e6e6;
    padding: 50px 0;
    background: $light-gray;
    h1 {
        margin: 0;
    }
}

.search-box {
    z-index: 5;
    position: relative;
    .searchform {
        display: block;
        position: relative;
        width: 100%;
        padding: 0;
        background: none;
        border: none;
        right: none;
        top: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        input[type="text"] {
            margin-bottom: 0;
            font-size: rem-calc(18);
            height: 50px;
            border: 1px solid #e6e6e6;
            background: $white;
        }
    }
}

.search {
    .new-search {
        h1 {
            margin: 0 0 10px 0;
        }
    }
    .search-posts {
        article {
            border-bottom: 1px solid $light-gray;
            margin-bottom: 15px;
            padding-bottom: 10px;
            h2 {
                font-size: rem-calc(28);
            }
        }
    }
}
