/**
 * Slider section
 */
.flexslider {
	position: relative;
	visibility: hidden;
	// border-bottom: 2px solid $light-gray;
	@include breakpoint(medium) {
		border-bottom: none;
	}
	.slides {
		margin: 0;
		list-style: none;
		display: block;
	}
	.caption {
		padding: 30px 0;
		opacity: 1;
		@include breakpoint(medium) {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			opacity: 0;
		}
		.title {
			font-weight: 400;
			font-size: rem-calc(23);
			line-height: rem-calc(27);
			margin-bottom:0;
			@include breakpoint(medium) {
				font-size: rem-calc(27);
				line-height: rem-calc(37);
			}
			@include breakpoint(large) {
				font-size: rem-calc(37);
				line-height: rem-calc(44);
			}
		}
		.text {
			margin-top: 10px;
			margin-bottom:0;
		}
		.title,
		.text {
			&.white {
				color: $dark-gray;
			}
			&.black {
				color: $dark-gray;
			}
			@include breakpoint(medium) {
				&.white {
					color: $white;
				}
			}
		}
		.button {
			margin-top: 20px;
			margin-bottom: 0;
			@include breakpoint(small only) {
				&.white {
					background: $black;
					color: $white;
					display: inline-block;
					&:hover {
						color: $white;
						background: scale-color($black, $lightness: -20%);
					}
				}
			}
		}
	}
}

.flex-control-nav {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	margin: 0;
	text-align: center;
	height: 7px;
	@include breakpoint(medium) {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 6px;
		top: inherit;
	}
	@include breakpoint(large) {
		bottom: 30px;
	}
	li {
		display: inline-block;
		height: 8px;
		a {
			background: $white;
			display: inline-block;
			width: 7px;
			height: 7px;
			text-indent: -9999px;
			margin: 0 3px;
			opacity: 0.3;
			border-radius: 5px;
		}
		.flex-active {
			opacity: 1;
		}
	}
}

.header-cover {
	overflow: hidden;
	position: relative;
	padding: 0;
	// color: $white;
	img {
		margin: 0;
		vertical-align: middle;
		width: 100%;
	}
}

.header-image {
	position: relative;
	display: block;
	margin: 0;
	z-index: 1;
}
