.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.clearfix {
	clear: both;
}

.hidden {
	display: none;
}

.left {
    float: left !important;
}

.right {
	float: right !important;	
}