@charset 'utf-8';

// Normalize
@import "vendor/normalize";

@import 'settings';
@import 'foundation/foundation.scss';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


// Font awesome
@import "font-awesome/font-awesome";

// Bourbon
@import 'bourbon';

// Library
@import "library/helpers";
@import "library/mixins";
@import "library/animate";
@import "library/colors";

// Partials
@import "partials/404";
@import "partials/forms";
@import "partials/buttons";
@import "partials/globals";
@import "partials/main";
@import "partials/navigation";
@import "partials/post";
@import "partials/search";
@import "partials/slider";
@import "partials/comments";
@import "partials/wordpress";

// Sections
@import "sections/content_1";
@import "sections/content_2";
@import "sections/content_3";
@import "sections/content_4";
@import "sections/content_5";
@import "sections/content_6";
@import "sections/content_7";
@import "sections/content_8";
@import "sections/content_9";
@import "sections/content_10";
@import "sections/content_11";
@import "sections/content_12";
@import "sections/content_13";
@import "sections/content_14";
@import "sections/content_15";
@import "sections/content_16";
@import "sections/content_18";
@import "sections/properties_grid";

#menu-social{
    width: 250px;
    margin: 0 auto;
}

.font-big p{
    font-size: 1.25rem;
}